<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>프렌드차이</title>
</head>
<body>
<h1>브랜드 목록</h1>
<a href="{% url 'myapp:login' %}">로그인</a>
<a href="{% url 'myapp:register' %}">회원가입</a>
<h2>
    <a href="{% url 'myapp:brand_search' %}">브랜드 검색하기</a>
</h2>
{% if brand_list %}
<ul>
    {% for brand in brand_list %}
    <li><a href="{% url 'myapp:detail' brand.id %}">{{brand.brand_name}}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No brand to show</p>
{% endif %}
</body>
</html>